.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


.error{
    color: #DD4444;
}

.success{
    color: #44DD44;
    font-size: 18pt;
}

.logo{
    display: flex;
    justify-content: center;
}

.credits{
    font-size:small;
}

.player_name{
    color: #402300;
    font-size:135%;
}
