{% extends "generic.html" %}

{% load static %}
{% block extrahead %}
  <script src="{% static 'js/create_table.js' %}"></script>
{% endblock %}

{% block content %}
  <h1>Create adventure</h1>
  <form action="" method="post">
    <div class="fieldWrapper">
      {% csrf_token %}
      <table>
	<tbody>
	  <tr>
	    <td>
	      <label for="{{ form.title.id_for_label }}">Title:</label>
	    </td>
	    <td>
	      {{ form.title }}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="{{ form.dm_name.id_for_label }}">DM name:</label>
	    </td>
	    <td>
	      {{ form.dm_name }}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="{{ form.teaser.id_for_label }}">Teaser:</label>
	    </td>
	    <td>
	      {{ form.teaser }}
	    </td>
	  </tr>
	  <tr onmouseover='check_fields()'>
	    <td>
	      <label for="{{ form.is_dnd5.id_for_label }}">Is this a D&amp;D5 table :</label>
	    </td>
	    <td>
	      {{ form.is_dnd5 }}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      Level range
	    </td>
	    <td>
	      <table>
		<tr>
		  <td onmouseover='check_fields()'>
		    {{ form.min_level }}
		  </td>
		  <td>
		    &mdash;
		  </td>
		  <td onmouseover='check_fields()'>
		    {{ form.max_level }}
		  </td>
		</tr>
	      </table>
	    </td>
	  </tr>
	  <tr onmouseover='check_fields()'>
	    <td >
	      <label for="{{ form.limit_number_of_players.id_for_label }}">Limit Mumber of Players?</label>
	    </td>
	    <td>
	      {{ form.limit_number_of_players }}
	    </td>
	  </tr>
	  <tr hidden id='max_number_of_player_row' onmouseover='check_fields()'>
	    <td>
	      <label for="{{ form.max_number_of_players.id_for_label }}">Max Mumber of Players</label>
	    </td>
	    <td>
	      {{ form.max_number_of_players }}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="{{ form.evening.id_for_label }}">Select Date</label>
	    </td>
	    <td>
	      {{ form.evening }}
	    </td>
	  </tr>
	</tbody>
      </table>
      <table>
	<!--      {{ form.as_table }}-->
	{{ form.media }}
      </table>
      <div onmouseover='check_fields()'>
	<input id='submit' type="submit" value="Submit">
      </div>
      <p class='error' id='error'></p>

    </div>
  </form>
{% endblock %}
