{% extends "generic.html" %}

{% load static %}
{% block extrahead %}
  <script src="{% static 'js/register_to_table.js' %}"></script>
{% endblock %}
{% block content %}
  <h1>Register to table</h1>
  <h2>Available tables</h1>
  <br>
  <br>
  <table></tbody>
    {% for adventure in adventure_list %}
      <h3> {{ adventure.title }} </h3>
      {{ adventure.evening }}
      <p>
      	{% if adventure.is_dnd5 %}
	  D&amp;D5 adventure (levels {{ adventure.min_level }} - {{ adventure.max_level }})
	{% endif %}
      </p>
      <span id="{{ adventure.id }}_min_level" value="{{ adventure.min_level }}"></span>
      <span id="{{ adventure.id }}_max_level" value="{{ adventure.max_level }}"></span>
      {% if adventure.teaser %}
	{{ adventure.teaser }}
      {% endif %}
      <hr>
    {% endfor %}
  </tbody></table>

  <form action="" method="post">
    <h2>Select your table</h2>
    {% csrf_token %}
    <table>
      <tr>
	<td>
	  <label for="{{ form.player.id_for_label }}">Player:</label>
	</td>
	<td>
	  {{ form.player }}
	</td>
      </tr>
      <tr>
	<td>
	  <label for="{{ form.adventure.id_for_label }}">Adventure:</label>
	</td>
	<td>
	  {{ form.adventure }}
	</td>
      </tr>
      <tr>
	<td>
	  <label for="{{ form.I_already_have_a_character.id_for_label }}">I already have a character:</label>
	</td>
	<td>
	  {{ form.I_already_have_a_character }}
	</td>
      </tr>
      <tr>
	<td>
	  <label for="{{ form.character_level.id_for_label }}">Character level:</label>
	</td>
	<td>
	  {{ form.character_level }}
	</td>
      </tr>
      <tr>
	<td>
	  <label for="{{ form.character_name.id_for_label }}">Character Name:</label>
	</td>
	<td>
	  {{ form.character_name }}
	</td>
      </tr>
      
      
	  <!--{{ form.as_table }}-->
    </table>
    <div onmouseover='check_fields()'>
      <input id ='submit' type="submit" value="Submit">
    </div>
</from>

<p class='error' id='error'></p>
{% endblock %}
