{% extends "generic.html" %}

{% block content %}
  <h1>Tables {{ date }}</h1>
  <ul>
    {% for table,regs in tables.items %}
      <li>
	<a href="{{ table.get_absolute_url }}">{{ table.title }}</a> ({{table.dm_name}})
      </li>
      {% for r in regs %}
	<ul>
	  <li class="player_name">{{ r.name }}</li>
	  {% if r.has_character %}
	    <div>
	      {{r.character_name }} (level {{ r.character_level }})
	    </div>
	  {% endif %}
	</ul>
      {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}
