{% extends "generic.html" %}

{% load static %}
{% block extrahead %}
  <script src="{% static 'js/register_to_table.js' %}"></script>
{% endblock %}

{% block content %}
  <h1>Register to the next Southern Wind event</h1>
  <table><tbody>
      <form action="" method="post">
	{% csrf_token %}
	<table>
	  <tr>
	    <td>
	      <label for="{{ form.player_name.id_for_label }}">Player name:</label>
	    </td>
	    <td>
	      {{ form.player_name }}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      Are you interested in playing <br> systems other than D&amp;D? 
	    <td>
	      <span style="padding-left:5px;">
	      {{ form.non_DnD }}
	    </td>
	  </tr>
	</table>

	<div onmouseover='check_fields()'>
	  <br>
	  <input id ='submit' type="submit" value="Submit">
	</div>
      </form>
    </tbody>
</tabkle>

<p class='error' id='error'></p>
{% endblock %}
