@media only screen and (max-width: 56.25em) {
  .section-form {
    grid-template-columns: 1fr;
  }
  .login-input-container {
    grid-template-columns: 2fr auto 1fr;
  }
  form {
    width: 42rem;
  }
}
@media only screen and (max-width: 34em) {
  nav {
    padding: 1.8rem;
  }
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 25em) {
  nav {
    padding: 1.6rem;
  }
  html {
    font-size: 43.75%;
  }
}
